
body {
	background-image: linear-gradient(#79B751, #00E1EE);
	background-repeat: no-repeat;
}

.header {
	width: 80%;
	margin: auto;
	margin-bottom: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("bilder/headerbakgrunn.PNG");
	background-repeat: no-repeat;
	border: 2px solid #79B751;
}

.hjem {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: auto;
}

.kategoriklasse {
	padding: 0.5em 0.5em 0.5em 0;
	list-style-type: none;
}

.kategorioverskrift {
	text-decoration: underline;
	padding: 0;
	margin: 0;
}

.topp {
	padding-left: 1em;
	width: 100%;
	background-color: #0000EE;
	color: white;
}

.topp h6 {
	margin:0;
	font-size: 1em;
}

.modul {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	width: 100%;
	margin-top: 2%;
	border: 2px solid #79B751;
}

.modulinnhold {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding-left: 1em;
}

.infotekst {
	width: 100%;
}

.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-top: 2px solid #79B751;
	width: 100%;
	padding: 0;
}

.footer li {
	background-color: white;
	list-style-type: none;
	display: inline;
	border-right: 1px solid #79B751;
	border-left: 1px solid #79B751;
	border-bottom: 1px solid #79B751;
	padding: 0.35em;
}

.footer a {
	text-decoration: none;
	color: #0000EE;
	font-size: 0.75em;
}
.footer a:hover {
	color: #68AC46;
}

