
body {
	background-image: linear-gradient(white, #00E1EE);
	background-repeat: no-repeat;
}

.header {
	width: 80%;
	margin: auto;
	margin-bottom: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("bilder/headerbakgrunn.PNG");
	background-repeat: no-repeat;
	border: 2px solid #79B751;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: auto;
}


.topp {
	background-color: #0000EE;
	display: flex;
	color: white;
	padding-left: 1%;
}

.topp h6 {
	margin:0;
	font-size: 1.5em;
}

.modul {
	background-color: white;
	width: 100%;
	margin-top: 2%;
	border: 2px solid #79B751;
}

.modul p {
	padding-left: 1%;
}

.footer {
	display: flex;
	justify-content: center;
	border-top: 2px solid #79B751;
	width: 100%;
	padding: 0;
}

.footer li {
	background-color: white;
	list-style-type: none;
	display: inline;
	border-right: 1px solid #79B751;
	border-left: 1px solid #79B751;
	border-bottom: 1px solid #79B751;
	padding: 0.35em;
}

.footer a {
	text-decoration: none;
	color: #0000EE;
}
.footer a:hover {
	color: #68AC46;
}

